!!!5
%html
  %head
    %title chat roulette
  %body
    %form{method: 'post'}
      %p
        %label{for: 'names'} enter some names
        %br
        %textarea#names{name: 'names', placeholder: 'some names', rows: 5, cols: 20}
      %p
        %input{type: 'submit', value: 'haz klik'}
    %footer
      Get the source from
      %a{href: 'https://github.com/bkerley/chat-roulette-tool'}
        https://github.com/bkerley/chat-roulette-tool
